* {
    background-color: rgb(248,248,250);
}
.mainbodyofpage {
    display: flex;
    width: 100%;
}
#functionlity {
    width: 21%;
    height: 800px;
    border: 1px solid black;
}
#fromdatabase {
    width: 80%;
    margin-left: 1%;
    border: 1px solid blueviolet;
}
#deliveryexpress {
    border-radius: 10px;
    margin: 20px 10px 0px 10px;
    border: 1px solid gold;
    padding: 9px 6px;
    font-size: 24px;
    margin-bottom: 0%;
    background-color: rgb(255,235,213);
}
.textinside-express {
    background-color: rgb(255,235,213);
}
#unfulfilled {
    border-radius: 50%;
}
.expressimage {
    margin-left: 0px;
    width: 24px;
    background-color: transparent;
}
.deliverypar {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 25px; 
}
/* localstorage data */
#inputfromdata {
    display: grid;
    grid-gap: 20px;
    margin-top: 1%;
    grid-template-columns: repeat(3, 1fr);
}
.outterlayer  {
    display: block;
    height: 320px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    /* margin-bottom: 5%; */
}
.divforbutton {
    height: 0px;
    width: 100%;
    display: block;
    text-align: end;
}
.buttonforheart {
    border: none;
    font-size: 15px;
    position: relative;
    border-radius: 50%;
    color: gray;
}
.mainprojectdiv {
    margin: auto;
    margin-top: 1%;
    width: 260px;
    height:320px;
    background-color: white;
}
.belowimagetag {
    height: 70px;
    background-color: white;

}
.brandnametag {
    height: 20px;
    margin: 0%;
    background-color: white;
}
.brandnametag::before {
    content: url(https://d3ulwu8fab47va.cloudfront.net/skin/frontend/default/ubuycom-v1/images/us-store.svg);
    margin-top: 2%;
    font-size: 19px;
}
.productnametag {
    height: 43px;
    font-size: 18px;
    margin-top: 2%;
    background-color: white;
}
.pricedivtag {
    display: flex;
    width: 80%;
    background-color: white;
}
.discountprice {
    margin-top: 4%;
}
.discountprice::before {
    content: "INR ";
    margin-left: 0%;
}
.originalprice {
    text-decoration: line-through;
    color: lightcoral;
    margin: 4%;
}
.originalprice::before {
    content: "INR ";
}
.imagediv {
    height: 220px;
    width: 100%;
}
.forimageofpro {
    width: 100%;
    height: 100%;
}
.logoimageubuy {
    height: 20px;
    margin-top: 12%;
}
.priceandlogo {
    display: flex;
    margin-left: 0%;
    justify-content: space-between;
    background-color: white;

}
/* for footer */
#finaltable {
    display: flex;
  }
  .footerlinks {
    margin-left: 20px;
    width: 100%;
  }
  .inlinefooter {
    display: flex;
    /* width: 100px; */
    font-size: 20px;
    line-height: 40px;
    color: rgb(102, 102, 102);
    justify-content: start;
  }
  .listoflinks > li {
    list-style-type: none;
    margin-bottom: 20px;
    text-decoration: none;
  }
  .listoflinks > li > img {
    width: 60px;
    height: 40px;
    margin-right: 19px;
  }
  .footerlinks:nth-child(3) > .listoflinks > li {
    display: flex;
    line-height: 38px;
  }
  .footerlinks > .listoflinks > li > a {
    text-decoration: none;
    color: black;
  }
  /* subfooter part */
  #subfooter-row1 {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 26px;
    margin-top: 2%;
    padding-bottom: 20px;
  }
  #subfooter-subdelivery {
    font-size: 20px;
    line-height: 10px;
  }
  #subfooter-countrynames {
    font-size: 20px;
  }
  /* subfooter-row2 */
  #subfooter-row2 > ul {
    display: flex;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  #subfooter-row2 > ul li {
    margin-left: 2%;
    font-size: 20px;
    list-style-type: none;
  }
  #subfooter-row2 > ul > li:nth-child(1) {
    margin-left: -2%;
  }
  #subfooter-row2 > ul li::before {
    content: "\2022";
    color: rgb(255, 177, 0);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  #subfooter-row2 > ul > li > a:hover,
  #subfooter-row3-ul > ul > li > a:hover {
    color: rgb(255, 177, 0);
    text-decoration: underline;
  }
  #subfooter-row2 > ul > li > a,
  #subfooter-row3-ul > ul > li > a {
    color: gray;
    text-decoration: none;
  }
  /* last subfooter(subfooter-row3) */
  #subfooter-row3 {
    display: flex;
  }
  #subfooter-row3 > div:nth-child(1) {
    width: 30%;
    padding-top: 35px;
    color: gray;
  }
  #subfooter-row3-ul {
    width: 55%;
  }
  #subfooter-row3-ul > ul > li {
    list-style: none;
    margin-left: 1%;
  }
  #subfooter-row3-ul > ul li::before {
    content: "\2022";
    color: rgb(255, 177, 0);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    padding-top: 22px;
    margin-left: 1em;
  }
  #subfooter-row3-ul > ul {
    display: flex;
  }
  /* subfooter-row3-lastcol(follow us) */
  #subfooter-row3-lastcol {
    padding-bottom: 30px;
    padding-top: 40px;
    display: flex;
  }
  #subfooter-row3-lastcol > div > a {
    margin-left: 10px;
    font-size: 22px;
    color: gray;
  }
  #subfooter-row3-lastcol > div:nth-child(1) {
    line-height: 22px;
  }
  